.layout--general {

	.app-header {
		position: relative;
	}

	.app-footer {
		position: relative;
		background-color: $colorPureWhite;
	}

	.app-main__bg-image,
	.app-main__overlay {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;   
	}


	.app-main__overlay {
		background-color: $gooseEggBlue;
	    opacity: 0.88;
	}

	.app-main__bg-image {
		background-size: cover;
		background-position: center;
	} 


}

