#textForConnector{
	position:fixed;
	top:0px;
	z-index: 1005;
}
.textList{
	list-style: none;
	bottom: 10px;
    font-size: 13px;
    padding: 0px 10px;
    color:white;
}
.textRoomConnector{
	position: fixed;
}